/*
 * This is a placeholder for placing custom css rules.
 */

.editor-toolbar {
  background: #EEEEEE;
}

.editor-statusbar {
  background: transparent;
  color: inherit !important;
}

.editor-statusbar, .editor-toolbar, .editor-statusbar:hover, .editor-toolbar:hover {
  opacity: 1 !important;
}