/*
 * This is a placeholder for placing custom css rules.
 */

.editor-statusbar, .editor-toolbar {
  background: #EEEEEE;
  opacity: 1;
}

.editor-statusbar:hover, .editor-toolbar:hover {
  opacity: 1;
}